@import "../colors"

$footer-font-family:            $font-adelle-sans

$footer-cl-bg:                  $cl-outer-space
$footer-cl-text:                $cl-white
$footer-cl-border:              $cl-lemon-grass
$footer-padding-vertical:       $siz-general-margin
