@import "../colors"

$footer-font-family:            $font-copy

$footer-cl-bg: $cl-rangitoto
$footer-cl-text:                $cl-white
$footer-cl-border:              $cl-lemon-grass
$footer-padding-vertical:       $siz-general-margin
