@import "../colors"

$menu-font-family:              $font-copy
$menu-font-size:                $font-size-sm

$menu-cl-normal:                $cl-text-ondark
$menu-cl-hover:                 $cl-primary
$menu-cl-active:                $cl-primary
$menu-cl-bg:                    $cl-alabaster
$menu-cl-separator:             $cl-submarine
$menu-cl-mobile-separator-open: $cl-rangitoto

$menu-cl-fixed-text: $cl-rangitoto
$menu-cl-fixed-bg:              $cl-white

$menu-cl-open-text: $cl-rangitoto
$menu-cl-open-bg:               $cl-white
