<footer>
    <div class="wrapper">
        <div class="content">
            <div class="pure-g">

                <div class="pure-u-1 pure-u-sm-1-2">
                    <a href="/now">news</a><br>
                        <a href="/contact">contact us</a><br>
                        <a href="/work">how we work</a><br><br>

                    <span style="font-size: small">&copy; artkonekt 2011 - {{ "now"|date('Y') }}</span>
                </div>

                <div class="pure-u-1 pure-u-sm-1-2">

                    <div class="footer-social">
                        <a href="https://www.linkedin.com/company/artkonekt/"><img src="/images/linkedinw.svg"
                                                                    alt="stackshare" title="stackshare"></a>
                        &nbsp;
                        <a href="https://stackshare.io/artkonekt/artkonekt"><img src="/images/stackshare.png"
                                                                                 alt="stackshare" title="stackshare"></a>
                        &nbsp;
                        <a href="https://github.com/artkonekt"><img src="/images/githubw.svg"
                                                                    alt="github" title="github"></a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</footer>
