<header class="header">

    <nav class="header-logo">
        <a href="/"><img src="/images/logox6.svg" id="logo"></a>
        <h4 class="logo-title">artkonekt</h4>
    </nav>

    <div class="header-menu">
        <nav class="menu menu-main">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>


</header>