<div class="wrapper clearfix">
    <div class="content">
        <nav class="header-logo">
            <a href="/"><img src="/images/logox6.svg" id="logo"></a>
        </nav>

        <div class="header-menu">
            <nav class="menu menu-main">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/now">now</a></li>
                    <li><a href="/jobs">jobs</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
