---
layout: page
title: PHP Developer | Laravel | Sfantu Gheorghe | Cluj Napoca
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/php.jpg);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">PHP Developer</span></h1>
            <p class="hero-copy">
			<span class="hero-shade"><code>&lt;?php <strong class="text-warning">$frameworks</strong> = [<span class="text-success">'Laravel'</span>, <span class="text-success">'Symfony'</span>, <span class="text-success">'Phalcon'</span>]; ?&gt;</code></span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">PHP Developer</h1>

                    <div class="blogpost">
                        <p>asdasd
                        </p>
                    </div>


                </div>

            </div>
        </div>

    </div>

{% endblock %}