---
layout: page
title: PHP Developer | Laravel | Sfantu Gheorghe | Cluj Napoca
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/breakdance.jpg);
            background-position: center 44%;
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">You funky?<br>
                join us!</span></h1>
            <p class="hero-copy">
			<span class="hero-shade">creativity, <strong>liberty</strong>
				&amp; no-bullshit &bdquo;policy&ldquo;</span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">PHP Developer</h1>


                </div>

            </div>
        </div>

    </div>

{% endblock %}