---
layout: page
title: Cloud and Serverless Solutions
use:
- sitemap
changefreq: monthly
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/cloud.png);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">Streamline your<br>
                IT infrastructure</span></h1>
            <p class="hero-copy">
			<span class="hero-shade">pay less, <strong>achieve more</strong>,
				be on top of it</span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">Cloud Infrastructure</h1>

                    <div class="blogpost">
                        <p>Some companies still run their servers on premises, even if their size
                        and the type of usage doesn't justify it. In such cases these companies know
                        that they should've moved already, so the reason they're staying with their
                        legacy IT Infrastructure is not that they're lazy or unaware.</p>

                        <h2>Frequent Difficulties with Cloud Migration</h2>

                        <ul>
                            <li>Incompatibility (technical or licensing)</li>
                            <li>Lack of Business Objectives</li>
                            <li>Worry about costs</li>
                            <li>Lack of expertise</li>
                            <li>Internal resistance</li>
                            <li>Data security concerns</li>
                        </ul>

                        <p>In many cases companies already have a business use-case, are armed with
                            a strong management and technical staff. In fact, they have almost
                            everything that makes them capable of moving to the cloud.<br>
                            What's often missing is someone with a battlefield cloud experience that
                            can help guiding the company during their move.
                        </p>

                        <h2>How To Overcome Cloud Migration Difficulties</h2>

                        <p>What we often do to support such operations, consists of one or more of
                            the following responsibilities:</p>

                        <ul>
                            <li>Trainings and Workshops</li>
                            <li>Technical and Financial Assessment</li>
                            <li>Measuring scalability requirements</li>
                            <li>Being part of decision making, developing the cloud strategy</li>
                            <li>Creating migration plans</li>
                            <li>Doing the actual work</li>
                            <li>Writing internal guides for engineers</li>
                            <li>Suggest concrete solutions</li>
                            <li>Significantly improve the transparency, becoming pro-active instead of reactive</li>
                        </ul>

                        <h2>Benefits</h2>

                        <p>Even if there's a business case at th</p>


                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
