///
///    ========================================================================
///    REAL FONT NAMES SECTION
///    ========================================================================
///
///    Set your real font names here. Later sections should refer to these
///    variables instead of directly setting them

@font-face
    font-family: 'Linux Libertine O'
    src: url('/fonts/hinted-LinLibertineOB.eot')
    src: local('Linux Libertine O Bold'), local('LinLibertineOB'), url('/fonts/hinted-LinLibertineOB.eot?#iefix') format('embedded-opentype'), url('/fonts/hinted-LinLibertineOB.woff') format('woff'), url('/fonts/hinted-LinLibertineOB.ttf') format('truetype')
    font-weight: bold
    font-style: normal

@font-face 
    font-family: 'Linux Libertine O'
    src: url('/fonts/hinted-LinLibertineOI.eot')
    src: local('Linux Libertine O Italic'), local('LinLibertineOI'), url('/fonts/hinted-LinLibertineOI.eot?#iefix') format('embedded-opentype'), url('/fonts/hinted-LinLibertineOI.woff') format('woff'), url('/fonts/hinted-LinLibertineOI.ttf') format('truetype')
    font-weight: normal
    font-style: italic

@font-face 
    font-family: 'Linux Libertine O'
    src: url('/fonts/hinted-LinLibertineO.eot')
    src: local('Linux Libertine O'), local('LinLibertineO'), url('/fonts/hinted-LinLibertineO.eot?#iefix') format('embedded-opentype'), url('/fonts/hinted-LinLibertineO.woff') format('woff'), url('/fonts/hinted-LinLibertineO.ttf') format('truetype')
    font-weight: normal
    font-style: normal


$font-adelle-sans:              "adelle-sans", sans-serif
$font-libertine:                "Linux Libertine O", serif

///
///    ========================================================================
///    SEMANTIC FONT NAMES SECTION
///    ========================================================================
///
///    Set your semantic fonts here. Layout, base, modules, etc should use
///    these names and not real font names (neither via variables)

$font-copy:                     $font-libertine
$font-heading:                  $font-adelle-sans
$font-thin:                     $font-adelle-sans
$font-small:                    $font-adelle-sans

///
///    ========================================================================
///    FONT SIZES SECTION
///    ========================================================================
///
///    This section actually belongs both here and both to sizing, but can be
///    only in one, had to decide.. here it is.

$font-size-title:               43px
$font-size-xxl:                 55px
$font-size-xl:                  35px
$font-size-lx:                  31px //large xtended
$font-size-lg:                  27px
$font-size-sl:                  24px //slightly bigger
$font-size-base:                22px
$font-size-sm:                  16px
$font-size-xs:                  14px
$font-size-xxs:                 12px
