///
///    ========================================================================
///    REAL FONT NAMES SECTION
///    ========================================================================
///
///    Set your real font names here. Later sections should refer to these
///    variables instead of directly setting them


$font-adelle-sans:              "adelle-sans", sans-serif
$font-libertine:                "Linux Libertine O", serif

///
///    ========================================================================
///    SEMANTIC FONT NAMES SECTION
///    ========================================================================
///
///    Set your semantic fonts here. Layout, base, modules, etc should use
///    these names and not real font names (neither via variables)

$font-copy:                     $font-libertine
$font-heading:                  $font-adelle-sans
$font-thin:                     $font-adelle-sans
$font-small:                    $font-adelle-sans

///
///    ========================================================================
///    FONT SIZES SECTION
///    ========================================================================
///
///    This section actually belongs both here and both to sizing, but can be
///    only in one, had to decide.. here it is.

$font-size-title:               43px
$font-size-xxl:                 55px
$font-size-xl:                  35px
$font-size-lx:                  31px //large xtended
$font-size-lg:                  27px
$font-size-sl:                  24px //slightly bigger
$font-size-base:                22px
$font-size-sm:                  16px
$font-size-xs:                  14px
$font-size-xxs:                 12px
