<blockquote>
    <p>Artkonekt is currently a team of 6, specialized to developing custom
        E-commerce solutions.</p>

    <p>Our story started in Cluj in 2011. Since then we worked with
        <a target="_blank" href="https://rebelwalls.com">Rebelwalls</a>,
        <a target="_blank" href="https://realcube.com">REALCUBE</a>,
        <a target="_blank" href="https://apaleo.com">Apaleo</a>,
        <a target="_blank" href="https://outlet.mobexpert.ro">Mobexpert</a>,
        <a target="_blank" href="http://domo.ro">Domo</a>,
        <a target="_blank" href="https://upriserz.ro">Lorand Soares-Szasz</a>,
        <a target="_blank" href="https://ginnet.hu">Whiskynet</a> and
        <a target="_blank" href="https://drinkbox.ro">Tatra Tea</a>.</p>

    <p>Our dream is a beautiful e-commerce platform that
        pleases the customer, the shop owner and the developer. And <a
                href="https://vanilo.io" target="_blank">we're heading to it</a>.</p>

    <p>As a member of Artkonekt you’ll be using a <a
                href="https://stackshare.io/artkonekt/artkonekt">modern technology
            stack</a> and be part of a rapid cross functional team. We're developing a delicate
        product and provide
        scalability making use of contemporary cloud. Join our team and help us to build an
        E-commerce champion for
        Laravel!</p>
</blockquote>
