<div class="panel">
    <rating name="working_at" title="How likely would you work at artkonekt?"
            endpoint="/jobs/rating.php"
            _1="Never" _2="Rather not" _3="Meh" _4="Could be" _5="With pleasure"></rating>
</div>

<div class="vspace"></div>