.card
    margin: $siz-general-margin/2 0
    .card-body
        a
            text-decoration: none
            h3
                +font-size($font-size-sl)
        padding: $siz-general-margin/2
        background-color: $cl-panel-bg
        .card-title
            margin: 0
            line-height: 1.17
            font-weight: 100
        .card-date
            +font-size($font-size-sm)
            color: $cl-text-secondary
            margin: 0
    &.card-primary
        .card-body
            background-color: $cl-primary

.card-copy
    +font-size($font-size-sm)