@import "../configuration/modules/header"

.header
    background-size: cover
    background-position: center 20%
    +clearfix

.header-logo
    float: left
    padding: $header-padding-vertical $header-padding-horizontal 0

.header-menu
    float: right