@import "../configuration/modules/header"
.menu
    margin: 0
    padding: 0
    font-family: $menu-font-family
    ul
        padding: 0
        margin: 0
        li
            display: inline-block

.menu-main
    position: relative
    float: right
    display: none
    +bp-lg
        display: block
    > ul
        margin: $header-padding-vertical 0 $header-padding-vertical $header-padding-horizontal
        > li
            +font-size($menu-font-size)
            margin: 12.5px 0 5px 5px
            color: $menu-cl-normal
            +bp-lg
                margin-left: 15px
            +bp-xl
                margin-left: 25px
                letter-spacing: 1px
            a
                color: $menu-cl-normal
                text-decoration: none
                cursor: pointer
                &:hover
                    color: $menu-cl-hover
            &.active
                a
                    color: $menu-cl-active
            &.menu-separator
                border-left: 1px solid $menu-cl-normal
            &.menu-item-icon
                position: relative
                a:hover
                    border-bottom: none
                i.ico-default
                    margin-top: -3px
                .menu-item-icon-overlay
                    position: absolute
                    margin: 0
                    padding: $font-size-sm/4
                    width: $font-size-sm
                    height: $font-size-sm
                    bottom: $font-size-sm/3*-2
                    left: $font-size-sm/3*-2
                    +font-size($font-size-sm)
                    text-align: center
                    background-color: $menu-cl-hover
                    +border-radius(50%)
            &.menu-item-dropdown
                position: relative
                a:hover
                    border-bottom: none

.menu-mobile
    //position: relative
    float: right
    display: block
    +bp-lg
        display: none
    ul
        display: none
        position: absolute
        overflow-y: auto
        left: 0
        height: 100vh
        height: calc(100vh - 80px)
        width: 100%
        padding: 30px 0
        background-color: $menu-cl-open-bg
        color: $menu-cl-open-text
        z-index: 999
        +transition(all .350s ease)
        li
            text-align: center
            display: block
            padding: 22px 0 6px
            border-bottom: 1px solid $menu-cl-open-text
            margin: 0 20%
            +bp-sm
                margin: 0 27%
            a
                color: $menu-cl-open-text
                text-decoration: none
            &:hover
                border-bottom-color: $cl-link-default
                a
                    color: $cl-link-default

#hamburger
    display: inline-block
    img
        width: 40px
        height: auto


#topmenu
    +transition(all .20s ease)