---
layout: page
title: Contact Us
sitemap:
  changefreq: yearly
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/bulbs.jpg);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">Get In Touch</span></h1>
            <p class="hero-copy">
			&nbsp;
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-sm-1-2">

                            <div class="card">
                                <h3 class="card-subtitle">if you want to get in touch</h3>
                                <h2 class="card-title">General Contact</h2>
                                <p class="card-copy">
                                    <strong>E-mail:</strong>
                                    <a href="mailto:artkonekt@artkonekt.com">artkonekt@artkonekt.com</a><br><br>
                                    <strong>Storm Storez SRL</strong><br>
                                    Sf. Gheorghe, Covasna<br>
                                    Str. Soimului nr. 21.<br>
                                    Romania<br>
                                    TAX ID: RO35409777<br>
                                    Reg.No: J14/12/2016<br>
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2">

                            <div class="card">
                                <h3 class="card-subtitle">for our partners</h3>
                                <h2 class="card-title">Support</h2>
                                <p class="card-copy">
                                    E-mail: <a href="mailto:support@artkonekt.com">support@artkonekt.com</a><br>
                                    Helpdesk: <a href="http://support.artkonekt.com/">support.artkonekt.com</a><br>
                                    Phone: <a href="tel:+40316300273">+40-316-300-273</a><br>
                                    Mon - Fri: 9:00 - 18:00 (EET)
                                </p>
                                <blockquote style="margin-left: 0">❗ Please only use our support channels if we already have a contract.</blockquote>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
