---
layout: page
title: E-commerce Development For Laravel
sitemap:
    _exclude: 1
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/universe.jpg);
            /*background-attachment: fixed;*/
            background-position: center 51%;
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">artkonekt is a team</span><br>
                <span class="hero-shade">of web developers</span></h1>
            <p class="hero-copy">
			<span class="hero-shade">we create, maintain and operate <strong>ecommerce</strong>
				sites</span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">What We Do</h1>

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Development</h3>
                                <h2 class="card-title">Modern web applications and frontend</h2>
                                <p class="card-copy">Our stack is PHP (Laravel, Symfony), sass, javascript (vuejs,
                                    node).</p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Legacy Systems</h3>
                                <h2 class="card-title">You have an old/complex system</h2>
                                <p class="card-copy">We can streamline it for you while it keeps running and producing
                                    money.</p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Cloud</h3>
                                <h2 class="card-title">Moving your business in the cloud</h2>
                                <p class="card-copy">Digital Ocean, Cloudflare, Amazon, CDN, nginx, varnish, redis.</p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Method</h3>
                                <h2 class="card-title">Hire us for at least for 3 months</h2>
                                <p class="card-copy">We usually do 2 weeks iterations of scrum and billing per hour.</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}