---
layout: page
title: E-commerce Development For Laravel
sitemap:
  _exclude: 1
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/lamps.png);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title">artkonekt is a team<br>
                of web developers</h1>
            <p class="hero-copy">
			we create, maintain and operate <strong>ecommerce</strong>
				sites
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">What We Do</h1>

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Development</h3>
                                <h2 class="card-title">Modern web applications and frontend</h2>
                                <p class="card-copy">Our <a
                                            href="https://stackshare.io/artkonekt/artkonekt"
                                            target="_blank">stack</a> is PHP (Laravel, Symfony),
                                    sass, javascript (vuejs,
                                    node).</p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Legacy Systems</h3>
                                <h2 class="card-title">You have an old/complex system</h2>
                                <p class="card-copy">We can streamline it for you while it keeps
                                    running and producing
                                    money.</p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Cloud</h3>
                                <h2 class="card-title">Moving your business in the cloud</h2>
                                <p class="card-copy">AWS, Digital Ocean, Google Cloud, Cloudflare, CDNs,
                                    varnish, redis.</p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Method</h3>
                                <h2 class="card-title">Hire us for at least 3 months<br>&nbsp;</h2>
                                <p class="card-copy">We usually do 2 weeks iterations of scrum and
                                    billing per hour.</p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="page-inner-container">

                    <h1 class="page-title">Clients &amp; Projects</h1>

                    <p>&nbsp;</p>

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-8 text-center">
                            <a href="https://outlet.mobexpert.ro" target="_blank"><img
                                        src="/images/portfolio/mobexpert.png" class="pure-img"
                                        title="Online Furniture Shop"/></a>
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-8 text-center">
                            <a href="https://upriserz.ro" target="_blank"><img
                                        src="/images/portfolio/lss.png" class="pure-img"
                                        title="Selling Online Video Courses, E-books &amp; Physical goods"/></a>
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-8 text-center">
                            <a href="https://ginnet.hu" target="_blank"><img
                                        src="/images/portfolio/ginnet.png" class="pure-img"
                                        title="Online Liqueur Store"/></a>
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-8 text-center">
                            <a href="http://balvanyosresort.ro" target="_blank"><img
                                        src="/images/portfolio/balvanyos.png" class="pure-img"
                                        title="Spa Hotel &amp; Mountain Resort"/></a>
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-8 text-center">
                            <a href="https://drinkbox.ro" target="_blank"><img
                                        src="/images/portfolio/drinkbox.png" class="pure-img"
                                        title="Online Liqueur Store"/></a>
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-8 text-center">
                            <a href="http://www.domo.ro" target="_blank"><img
                                        src="/images/portfolio/domo.png" class="pure-img"
                                        title="Domo Retail IT&amp;C E-commerce"/></a>
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-8 text-center">
                            <a href="https://vssapp.ro" target="_blank"><img
                                        src="/images/portfolio/viessmann.png" class="pure-img"
                                        title="Field Application for Viessmann Service Partners"/></a>
                        </div>

                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-lg-1-8 text-center">
                            <a href="https://apaleo.com" target="_blank"><img
                                        src="/images/portfolio/apaleo.png" class="pure-img"
                                        title="Open Hospitality Cloud"/></a>
                        </div>

                    </div>
                    <p>&nbsp;</p>
                </div>

                <div class="page-inner-container">
                    <h1 class="page-title">Working together on your next project?</h1>

                    <p class="text-center">
                        <br/>
                        <a href="/contact/" class="btn btn-primary btn-lg">Contact us!</a>
                    </p>

                    <p>&nbsp;</p>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
