---
layout: page
title: What's Happening @artkonekt?
sitemap:
changefreq: monthly
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/debian_went_crazy.png);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">What are we doing<br>
                right now?</span></h1>
            <p class="hero-copy">
			<span class="hero-shade">see what keeps us <strong>busy</strong>
				at the moment</span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">last update may 6, 2018</h1>

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Release v0.3</h3>
                                <h2 class="card-title">Vanilo</h2>
                                <p class="card-copy">Vanilo is our <strong>E-commerce platform for
                                        Laravel</strong>, v0.2 was released in February. The
                                    release of v0.3 is scheduled for May 2018.<br><br>
                                    Check it out at <a href="https://vanilo.io">vanilo.io</a>.
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Vinimundi</h3>
                                <h2 class="card-title">Multichannel Shop</h2>
                                <p class="card-copy">
                                    We're converting an <a href="https://vinumhungaricum.ro"
                                                           target="_blank">existing</a>
                                    Sylius webshop to Multichannel. The second website will have an
                                    own theme/look, will use the same database + backend but the
                                    list of products will also slightly differ on the two.
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Vanilo Goes Live</h3>
                                <h2 class="card-title">Sweden First</h2>
                                <p class="card-copy">
                                    We've teamed up with a startup from Sweden (can't yet tell their
                                    name) to build their new E-commerce site with Vanilo, Laravel and Vue.js.<br><br>
                                    The lauch date will be January 2019.
                                </p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
