---
layout: page
title: What's Happening @artkonekt?
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/vu_meter_db.png);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">What are we doing<br>
                right now?</span></h1>
            <p class="hero-copy">
			<span class="hero-shade">see what keeps us <strong>busy</strong>
				at the moment</span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title text-center" style="margin: 2em 0 0">last update aug 1, 2017</h1>

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">vanilo.io</h3>
                                <h2 class="card-title">E-commerce Platform</h2>
                                <p class="card-copy"><strong>For Laravel</strong>, <em>ach ja</em>, that's happening right now. Check out <a href="https://vanilo.io">vanilo.io</a>.
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">lorand.biz</h3>
                                <h2 class="card-title">Sales Funnels Development</h2>
                                <p class="card-copy">Client scoring and <a
                                            href="https://activecampaign.com" target="_blank">ActiveCampaign</a>
                                    integration for sales
                                    processes + dozens of landing pages.</p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">Laracon EU</h3>
                                <h2 class="card-title">See You In Amsterdam</h2>
                                <p class="card-copy">3 of us will be in Amsterdam between 26-31 August on <a
                                            href="https://laracon.eu/2017/" target="_blank">Laracon EU</a>.</p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4">

                            <div class="card">
                                <h3 class="card-subtitle">We're Hiring</h3>
                                <h2 class="card-title">200% Cluj</h2>
                                <p class="card-copy">We're about to double our people at Cluj: from 1 to 2
                                    😎. <a href="/jobs">You join?</a></p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}