---
layout: page
title: What's Happening @artkonekt?
use:
 - sitemap
changefreq: monthly
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/debian_went_crazy.png);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">What are we doing<br>
                right now?</span></h1>
            <p class="hero-copy">
			<span class="hero-shade">see what keeps us <strong>busy</strong>
				at the moment</span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">last update december 15, 2019</h1>

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Release v1.2</h3>
                                <h2 class="card-title">Vanilo</h2>
                                <p class="card-copy">Vanilo is our <strong>E-commerce platform for
                                        Laravel</strong>, the next release, v1.2 is scheduled for 23rd December.<br><br>
                                    Along with the Open Source v1.2 release, <a href="https://vanilo.shop">vanilo.shop</a> will be launched,
                                    which offers Vanilo as a managed E-commerce platform for Shop owners.<br><br>
                                    Check it out at <a href="https://vanilo.io/docs/1.1/roadmap">vanilo.io</a>.
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Apaleo</h3>
                                <h2 class="card-title">App Store Updates</h2>
                                <p class="card-copy">
                                    <strong>Apaleo's <a href="https://store.apaleo.com/" target="_blank">App Store</a>
                                    is receiving a fresh look</strong> along with UX optimizations.<br><br>

                                    The number of applications in the store
                                    has grown from about a dozen to 82 👏 . This required Apaleo
                                    to re-think the interactions of the App Store.<br>

                                    The update we're rolling out this month affects both aesthetics
                                    and the organization of the UI.
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Rebelwalls</h3>
                                <h2 class="card-title">Rating System</h2>
                                <p class="card-copy">
                                    <a href="https://rebelwalls.com/" target="_blank">Rebelwalls</a>
                                    is a versatile E-commerce company serving many countries.<br><br>

                                    We've been building a cool new <strong>Review System</strong> in the last months
                                    together with them. After the go-live, customer reviews will be
                                    better automated, much better integrated with the site, with special
                                    focus on structured, semantic data parsers like Google Shopping.
                                </p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
