---
layout: page
title: What's Happening @artkonekt?
use:
 - sitemap
changefreq: monthly
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/debian_went_crazy.png);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">What are we doing<br>
                right now?</span></h1>
            <p class="hero-copy">
			<span class="hero-shade">see what keeps us <strong>busy</strong>
				at the moment</span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">last update may 8, 2020</h1>

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Vanilo</h3>
                                <h2 class="card-title">Release v2.0</h2>
                                <p class="card-copy">Vanilo is our <strong>E-commerce platform for
                                        Laravel</strong>. The next release is a major one, v2.0 and is scheduled for May 2020.<br><br>
                                    Along with the Open Source v2.0 release, <a href="https://vanilo.shop">vanilo.shop</a> will be launched,
                                    which offers Vanilo as a managed E-commerce platform for Shop owners.<br><br>
                                    Check it out at <a href="https://vanilo.io/docs/1.2/roadmap">vanilo.io</a>.
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Upriserz</h3>
                                <h2 class="card-title">Phoenix Platform</h2>
                                <p class="card-copy">
                                    <strong>The Upriserz <a href="https://upriserz.ro/" target="_blank">E-learning platform</a>
                                    is receiving a major upgrade</strong> called "Phoenix".<br><br>

                                    The Phoenix project has started in April and the planned
                                    go-live is September 15, 2020.<br><br>

                                    The upgrade is a complete rework of the subscription management
                                    system. The admin area has been rewritten in Laravel Nova. The
                                    LMS will also be internal, replacing Thinkific (it worked well,
                                    but has some hard limits that didn't fit Upriserz' business model).
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Rebelwalls</h3>
                                <h2 class="card-title">trustify.it</h2>
                                <p class="card-copy">
                                    <a href="https://rebelwalls.com/" target="_blank">Rebelwalls</a>
                                    is a versatile E-commerce company serving many countries.<br><br>

                                    We've been building a cool new <strong>Review System</strong> in the last months
                                    together with them. After the go-live, customer reviews will be
                                    better automated, much better integrated with the site, with special
                                    focus on structured, semantic data parsers like Google Shopping.
                                </p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
