---
layout: page
title: What's Happening @artkonekt?
use:
 - sitemap
changefreq: monthly
---

{% block hero %}
    <style>
        .header {
            background-image: url(/images/debian_went_crazy.png);
        }
    </style>
    <div class="wrapper">
        <section class="hero hero-dark">
            <h1 class="hero-title"><span class="hero-shade">What are we doing<br>
                right now?</span></h1>
            <p class="hero-copy">
			<span class="hero-shade">see what keeps us <strong>busy</strong>
				at the moment</span>
            </p>
        </section>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="content">
            <div class="page-container page-container-light">

                <div class="page-inner-container">

                    <h1 class="page-title">last update sep 22, 2020</h1>

                    <div class="pure-g pure-g-gutter">
                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Vanilo</h3>
                                <h2 class="card-title">Release v2.0</h2>
                                <p class="card-copy">Vanilo is our <strong>E-commerce platform for
                                        Laravel</strong>. The next release is a major one, v2.0 and
                                    is scheduled for June 2020.<br><br>
                                    Along with the Open Source v2.0 release, <a
                                            href="https://vanilo.cloud">vanilo.cloud</a> will be
                                    launched,
                                    which offers Vanilo as a managed E-commerce platform for Shop
                                    owners.<br><br>
                                    Check it out at <a href="https://vanilo.io/docs/1.2/roadmap">vanilo.io</a>.
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Upriserz</h3>
                                <h2 class="card-title">Phoenix Platform</h2>
                                <p class="card-copy">
                                    <strong>The Upriserz <a href="https://upriserz.ro/" target="_blank">E-learning platform</a>
                                    has received a major upgrade</strong> called "Phoenix".<br><br>

                                    The Phoenix project has been successfully launched and migrated
                                    on September 15, 2020.<br><br>

                                    The upgrade was a complete rework of the subscription management
                                    system. The admin area has been rewritten in Laravel Nova. The
                                    LMS has been "insourced", replacing the previous Thinkific based
                                    solution.
                                </p>
                            </div>

                        </div>

                        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                            <div class="card">
                                <h3 class="card-subtitle">Red Carnation Hotels</h3>
                                <h2 class="card-title">Vuejs Rework</h2>
                                <p class="card-copy">
                                    We're working together with <a href="https://matterofform.com/">Matter of Form</a>
                                    on the major rework of the <a href="https://www.redcarnationhotels.com/" target="_blank">Red Carnation Hotels</a>
                                    websites family.<br><br>

                                    The new system features an <strong>Umbraco</strong> backend and
                                    a modern, <strong>vuejs</strong> based frontend supplying a
                                    faster and smoother browsing experience.<br><br>

                                    The brand site goes live on the 1st of October, which will be
                                    followed by the unique hotel sites.
                                </p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}
